<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">${sys:user.dir}/logs</Property>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="FileLog" fileName="${LOG_DIR}/automation.log"
                     filePattern="${LOG_DIR}/automation-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5MB" />
            </Policies>
            <DefaultRolloverStrategy max="3" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Framework logs -->
        <Logger name="utils" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Logger>
        <Logger name="pages" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Logger>
        <Logger name="drivers" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Logger>
        <Logger name="tests" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Logger>
        <Logger name="listeners" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Logger>

        <!-- Suppress noisy third-party logs -->
        <Logger name="org.testng" level="OFF" />
        <Logger name="org.openqa.selenium" level="WARN" />
        <Logger name="io.github.bonigarcia" level="WARN" />
        <Logger name="io.qameta.allure" level="WARN" />
        <Logger name="org.apache.poi" level="WARN" />

        <Root level="WARN">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLog" />
        </Root>
    </Loggers>
</Configuration>
